services:
  mongo:
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: secret
      MONGO_INITDB_DATABASE: centralDatabase
    ports:
      - "27017:27017"
    volumes:
      - ./mongo_data/:/data/db
    networks:
      - ci_network
    command: --quiet

  api:
    depends_on:
      - 'mongo'
    image: neuroflame/api
    healthcheck:
      test: [ "CMD-SHELL", "curl -s -X POST http://localhost:3001/graphql -H 'Content-Type: application/json' --data '{\"query\":\"{ __typename }\"}' > /dev/null" ]
      interval: 5s
      timeout: 3s
      retries: 5
    stdin_open: true
    tty: true
    privileged: true
    ports:
      - "80:80"
      - "443:443"
      - "3001:3001"
    networks:
      - ci_network
    environment:
      - CLIENT_FILE_SERVER_URL=http://fileServer:3002
      - APOLLO_PORT=3001
      - DATABASE_URI=mongodb://admin:secret@mongo:27017/centralDatabase
      - RESEND_API_KEY=${RESEND_API_KEY}
      - ACCESS_TOKEN_SECRET=${ACCESS_TOKEN_SECRET:-access-token-secret-example}
      - ACCESS_TOKEN_DURATION=${ACCESS_TOKEN_DURATION:-24h}

  centralFederatedClient:
    depends_on:
      api:
        condition: service_healthy
    image: neuroflame/centralfederatedclient
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${HOST_PROJECT_DIR}/_devTestDirectories:${HOST_PROJECT_DIR}/_devTestDirectories
    networks:
      - ci_network
    environment:
      - CI=true
      - HTTP_URL=http://api:3001/graphql
      - WS_URL=ws://api:3001/graphql
      # NOTE: ACCESS_TOKEN must be signed with the same ACCESS_TOKEN_SECRET used by the api service
      # The hardcoded token below was signed with: access-token-secret-example
      - ACCESS_TOKEN=${ACCESS_TOKEN:-eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2NjI4OWM3OWFlYmFiNjcwNDBhMjAwNjciLCJyb2xlcyI6WyJjZW50cmFsIl0sImlhdCI6MTcxMzkzODM5Mn0.xtJwKGbAK5veZIcxlFBXbLM2-oT2h6MJkf-D1JllybM}
      - FILE_SERVER_URL=http://fileServer:3002
      - CENTRAL_BASE_DIR=${HOST_PROJECT_DIR}/_devTestDirectories/centralFederatedClientDir
      - FQDN=${FQDN:-host.docker.internal}
      - HOSTING_PORT_START=${HOSTING_PORT_START:-3010}
      - HOSTING_PORT_END=${HOSTING_PORT_END:-3099}

  fileServer:
    depends_on:
      api:
        condition: service_healthy
    image: neuroflame/fileserver
    ports:
      - "3002:3002"
    networks:
      - ci_network
    environment:
      - AUTHENTICATION_URL=http://api:3001/authenticateToken
      - FILE_SERVER_BASE_DIR=${HOST_PROJECT_DIR}/_devTestDirectories/fileServerDir
      - FILE_SERVER_PORT=3002

  react:
    depends_on:
      api:
        condition: service_healthy
    image: neuroflame/react
    ports:
      - "3000:3000"
    networks:
      - ci_network

  ui:
    depends_on:
      - 'api'
      - 'centralFederatedClient'
      - 'fileServer'
      - 'react'
    image: neuroflame/ui
    volumes:
      - ${HOST_PROJECT_DIR}/_devTestDirectories/screencap:/tmp/screencap
      - ${HOST_PROJECT_DIR}/_devTestDirectories:${HOST_PROJECT_DIR}/_devTestDirectories
    networks:
      - ci_network
    cap_add:
      - SYS_ADMIN
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined
    environment:
      - CI=true
      - CI_DATA_DIR=${HOST_PROJECT_DIR}/desktopApp/electronApp/tests/data/srr-freesurfer/site1
      - DOCKER_HOST=tcp://docker-proxy:2375
      - NODE_ENV=test
      - DISPLAY=:99


  docker-proxy:
    image: alpine/socat
    command: TCP-LISTEN:2375,reuseaddr,fork UNIX-CONNECT:/var/run/docker.sock
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - ci_network
networks:
  ci_network:
    name: ci-network
    driver: bridge
