HTTP_URL=http://localhost:3001/graphql
WS_URL=ws://localhost:3001/graphql
ACCESS_TOKEN=access-token
FILE_SERVER_URL=http://localhost:3002
BASE_IDR=/tmp/NeuroFLAME/_devTestDirectories/vault1Dir
DATASET_DIR=/tmp/NeuroFLAME/mint-computation-single-round-ridge-regression/test_data/site1
LOG_PATH=
